<ion-header>
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <a  class="skip" href="tabs/tab1">skip</a>
 
    <ion-slides pager>
       
        <ion-slide>
         
          <p class="paragrafo"> Bem vindo ao fitlife  aqui voce pode colocar sua receita saudavel ajudando outras pessoas e anunciar seu negocio </p>
        </ion-slide>
      
        <ion-slide>
          
          <img src="assets/icon/frutas.jpg">
         
        </ion-slide>
      
        <ion-slide>
           
         
            <h2>bem vindo</h2>
        </ion-slide>
      
      </ion-slides>

</ion-content>
